<p>{{dict.salutation}}</p>
<p>{{dict.text1}}</p>
<p>{{dict.text2}} <a href="mailto:info@stylecheck.de">info@stylecheck.de</a>. {{dict.text3}}</p>
<p>{{dict.text4}}</p><br>
<p>
    {{dict.signature}}<br>
    <a href="www.stylecheck.de">www.stylecheck.de</a>
</p>
